Proyecto03Web/Proyecto03Web/Connected Services/WSE/WebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListarFaculdates">
        <s:complexType />
      </s:element>
      <s:element name="ListarFaculdatesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListarFaculdatesResult" type="tns:ArrayOfModeloFacultad" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfModeloFacultad">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ModeloFacultad" nillable="true" type="tns:ModeloFacultad" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ModeloFacultad">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Codigo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Facultad" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ListarEstudiantes">
        <s:complexType />
      </s:element>
      <s:element name="ListarEstudiantesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListarEstudiantesResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuscarEstudiantes">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cedula" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuscarEstudiantesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BuscarEstudiantesResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuscarCarreras">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="facultad" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuscarCarrerasResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BuscarCarrerasResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CrearEstudiantes">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="estudiante" type="tns:modeloEstudiante" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="modeloEstudiante">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Cedula" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Apellido" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Direccion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="celular" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="correo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cod_facultad" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cod_carrera" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="indice_academico" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="sexo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="estatus" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="CrearEstudiantesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CrearEstudiantesResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActualizarEstudiantes">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="estudiante" type="tns:modeloEstudiante" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActualizarEstudiantesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ActualizarEstudiantesResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EliminarEstudiantes">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cedula" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EliminarEstudiantesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="EliminarEstudiantesResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Validarcorreo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="value" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidarcorreoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ValidarcorreoResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidarLetras">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="value" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidarLetrasResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ValidarLetrasResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidarNumero">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="value" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidarNumeroResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ValidarNumeroResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="ListarFaculdatesSoapIn">
    <wsdl:part name="parameters" element="tns:ListarFaculdates" />
  </wsdl:message>
  <wsdl:message name="ListarFaculdatesSoapOut">
    <wsdl:part name="parameters" element="tns:ListarFaculdatesResponse" />
  </wsdl:message>
  <wsdl:message name="ListarEstudiantesSoapIn">
    <wsdl:part name="parameters" element="tns:ListarEstudiantes" />
  </wsdl:message>
  <wsdl:message name="ListarEstudiantesSoapOut">
    <wsdl:part name="parameters" element="tns:ListarEstudiantesResponse" />
  </wsdl:message>
  <wsdl:message name="BuscarEstudiantesSoapIn">
    <wsdl:part name="parameters" element="tns:BuscarEstudiantes" />
  </wsdl:message>
  <wsdl:message name="BuscarEstudiantesSoapOut">
    <wsdl:part name="parameters" element="tns:BuscarEstudiantesResponse" />
  </wsdl:message>
  <wsdl:message name="BuscarCarrerasSoapIn">
    <wsdl:part name="parameters" element="tns:BuscarCarreras" />
  </wsdl:message>
  <wsdl:message name="BuscarCarrerasSoapOut">
    <wsdl:part name="parameters" element="tns:BuscarCarrerasResponse" />
  </wsdl:message>
  <wsdl:message name="CrearEstudiantesSoapIn">
    <wsdl:part name="parameters" element="tns:CrearEstudiantes" />
  </wsdl:message>
  <wsdl:message name="CrearEstudiantesSoapOut">
    <wsdl:part name="parameters" element="tns:CrearEstudiantesResponse" />
  </wsdl:message>
  <wsdl:message name="ActualizarEstudiantesSoapIn">
    <wsdl:part name="parameters" element="tns:ActualizarEstudiantes" />
  </wsdl:message>
  <wsdl:message name="ActualizarEstudiantesSoapOut">
    <wsdl:part name="parameters" element="tns:ActualizarEstudiantesResponse" />
  </wsdl:message>
  <wsdl:message name="EliminarEstudiantesSoapIn">
    <wsdl:part name="parameters" element="tns:EliminarEstudiantes" />
  </wsdl:message>
  <wsdl:message name="EliminarEstudiantesSoapOut">
    <wsdl:part name="parameters" element="tns:EliminarEstudiantesResponse" />
  </wsdl:message>
  <wsdl:message name="ValidarcorreoSoapIn">
    <wsdl:part name="parameters" element="tns:Validarcorreo" />
  </wsdl:message>
  <wsdl:message name="ValidarcorreoSoapOut">
    <wsdl:part name="parameters" element="tns:ValidarcorreoResponse" />
  </wsdl:message>
  <wsdl:message name="ValidarLetrasSoapIn">
    <wsdl:part name="parameters" element="tns:ValidarLetras" />
  </wsdl:message>
  <wsdl:message name="ValidarLetrasSoapOut">
    <wsdl:part name="parameters" element="tns:ValidarLetrasResponse" />
  </wsdl:message>
  <wsdl:message name="ValidarNumeroSoapIn">
    <wsdl:part name="parameters" element="tns:ValidarNumero" />
  </wsdl:message>
  <wsdl:message name="ValidarNumeroSoapOut">
    <wsdl:part name="parameters" element="tns:ValidarNumeroResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListarFaculdates">
      <wsdl:input message="tns:ListarFaculdatesSoapIn" />
      <wsdl:output message="tns:ListarFaculdatesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListarEstudiantes">
      <wsdl:input message="tns:ListarEstudiantesSoapIn" />
      <wsdl:output message="tns:ListarEstudiantesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BuscarEstudiantes">
      <wsdl:input message="tns:BuscarEstudiantesSoapIn" />
      <wsdl:output message="tns:BuscarEstudiantesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BuscarCarreras">
      <wsdl:input message="tns:BuscarCarrerasSoapIn" />
      <wsdl:output message="tns:BuscarCarrerasSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CrearEstudiantes">
      <wsdl:input message="tns:CrearEstudiantesSoapIn" />
      <wsdl:output message="tns:CrearEstudiantesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarEstudiantes">
      <wsdl:input message="tns:ActualizarEstudiantesSoapIn" />
      <wsdl:output message="tns:ActualizarEstudiantesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EliminarEstudiantes">
      <wsdl:input message="tns:EliminarEstudiantesSoapIn" />
      <wsdl:output message="tns:EliminarEstudiantesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Validarcorreo">
      <wsdl:input message="tns:ValidarcorreoSoapIn" />
      <wsdl:output message="tns:ValidarcorreoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ValidarLetras">
      <wsdl:input message="tns:ValidarLetrasSoapIn" />
      <wsdl:output message="tns:ValidarLetrasSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ValidarNumero">
      <wsdl:input message="tns:ValidarNumeroSoapIn" />
      <wsdl:output message="tns:ValidarNumeroSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarFaculdates">
      <soap:operation soapAction="http://tempuri.org/ListarFaculdates" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarEstudiantes">
      <soap:operation soapAction="http://tempuri.org/ListarEstudiantes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarEstudiantes">
      <soap:operation soapAction="http://tempuri.org/BuscarEstudiantes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarCarreras">
      <soap:operation soapAction="http://tempuri.org/BuscarCarreras" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CrearEstudiantes">
      <soap:operation soapAction="http://tempuri.org/CrearEstudiantes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarEstudiantes">
      <soap:operation soapAction="http://tempuri.org/ActualizarEstudiantes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarEstudiantes">
      <soap:operation soapAction="http://tempuri.org/EliminarEstudiantes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Validarcorreo">
      <soap:operation soapAction="http://tempuri.org/Validarcorreo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidarLetras">
      <soap:operation soapAction="http://tempuri.org/ValidarLetras" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidarNumero">
      <soap:operation soapAction="http://tempuri.org/ValidarNumero" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarFaculdates">
      <soap12:operation soapAction="http://tempuri.org/ListarFaculdates" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarEstudiantes">
      <soap12:operation soapAction="http://tempuri.org/ListarEstudiantes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarEstudiantes">
      <soap12:operation soapAction="http://tempuri.org/BuscarEstudiantes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarCarreras">
      <soap12:operation soapAction="http://tempuri.org/BuscarCarreras" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CrearEstudiantes">
      <soap12:operation soapAction="http://tempuri.org/CrearEstudiantes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarEstudiantes">
      <soap12:operation soapAction="http://tempuri.org/ActualizarEstudiantes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarEstudiantes">
      <soap12:operation soapAction="http://tempuri.org/EliminarEstudiantes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Validarcorreo">
      <soap12:operation soapAction="http://tempuri.org/Validarcorreo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidarLetras">
      <soap12:operation soapAction="http://tempuri.org/ValidarLetras" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidarNumero">
      <soap12:operation soapAction="http://tempuri.org/ValidarNumero" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="https://localhost:44331/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="https://localhost:44331/WebService1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>